# Telugu Text Normalization Test Cases

This notebook tests the Telugu text normalization implementation.

## Test Categories:
1. Cardinal Numbers
2. Decimal Numbers
3. Fractions
4. Dates
5. Time
6. Money
7. Measurements
8. Ordinal Numbers
9. Telephone Numbers
10. Whitelist/Abbreviations
11. Mixed Content
12. Batch Testing

In [1]:
import sys
import os

# Add the NeMo-text-processing directory to the path
sys.path.insert(0, os.path.abspath('.'))

from nemo_text_processing.text_normalization.normalize import Normalizer

print("Imports successful!")

Imports successful!

In [2]:
# Initialize Telugu normalizer
normalizer_te = Normalizer(
    input_case='cased',
    lang='te',
    cache_dir=None,  # Set to a directory path if you want to cache .far files
    overwrite_cache=False,
    post_process=True
)

print("Telugu Text Normalizer initialized successfully!")
print(f"Language: {normalizer_te.lang}")

Telugu Text Normalizer initialized successfully!
Language: te

## 1. Cardinal Numbers Test

In [3]:
cardinal_tests = [
    "155=100",
    "౧౨౩౪",
    "౧౨౩౪౫",
    "౧౨౩౪౫౬",
    "౧౨౩౪౫౬౭",
    "౧౨౩౪౫౬౭౮",
    "-౧౨౩",
    "-120",
    "౧౦౦౦",
    "౧౦౦౦౦౦",  # 1 lakh
    "౧౦౦౦౦౦౦౦౦ ",  # 1 crore
]

print("=" * 60)
print("CARDINAL NUMBERS TEST")
print("=" * 60)
for test in cardinal_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
CARDINAL NUMBERS TEST
============================================================
Input:  155=100         -> Output: ఒకటి వంద యాభై ఐదు సమానం ఒకటి వంద
Input:  ౧౨౩౪            -> Output:  పన్నెండు వంద ముప్పై నాలుగు
Input:  ౧౨౩౪౫           -> Output: పన్నెండు వెయ్యి మూడు వంద నలభై ఐదు
Input:  ౧౨౩౪౫౬          -> Output: ఒకటి లక్షం ఇరవై మూడు వెయ్యి నాలుగు వంద యాభై ఆరు
Input:  ౧౨౩౪౫౬౭         -> Output: పన్నెండు లక్షం ముప్పై నాలుగు వెయ్యి ఐదు వంద అరవై ఏడు
Input:  ౧౨౩౪౫౬౭౮        -> Output: ఒకటి కోటి ఇరవై మూడు లక్షం నలభై ఐదు వెయ్యి ఆరు వంద డెబ్బై ఎనిమిది
Input:  -౧౨౩            -> Output: minus ఒకటి వంద ఇరవై మూడు
Input:  -120            -> Output: minus ఒకటి వంద ఇరవై
Input:  ౧౦౦౦            -> Output:  ఒకటి వెయ్యి
Input:  ౧౦౦౦౦౦          -> Output: ఒకటి లక్షం
Input:  ౧౦౦౦౦౦౦౦౦       -> Output: పది కోటి

## 1.2. Time Test (English Digits)

In [4]:
# Test English digits for time - should work now!
time_tests_english = [
    "12:30",
    "1:40",
    "12:00",
    "12:30:45",
    "09:15",
    "23:59",
    "9:15",
]

print("=" * 60)
print("TIME TEST (ENGLISH DIGITS)")
print("=" * 60)
for test in time_tests_english:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
TIME TEST (ENGLISH DIGITS)
============================================================
Input:  12:30           -> Output: పన్నెండు గంటకు ముప్పై నిమిషం
Input:  1:40            -> Output: ఒకటి : నలభై
Input:  12:00           -> Output: పన్నెండు గంటకు సున్నా నిమిషం
Input:  12:30:45        -> Output: పన్నెండు గంటకు ముప్పై నిమిషం : నలభై ఐదు
Input:  09:15           -> Output: తొమ్మిది గంటకు పదిహేను నిమిషం
Input:  23:59           -> Output: ఇరవై మూడు : యాభై తొమ్మిది
Input:  9:15            -> Output: తొమ్మిది : పదిహేను

## 1.3. Money Test (English Digits)

In [5]:
# Test English digits for money - should work now!
money_tests_english = [
    "₹100",
    "₹1234",
    "₹50.50",
    "₹0.50",
    "₹1000000",
    "₹1050000",
    "₹500",
]

print("=" * 60)
print("MONEY TEST (ENGLISH DIGITS)")
print("=" * 60)
for test in money_tests_english:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
MONEY TEST (ENGLISH DIGITS)
============================================================
Input:  ₹100            -> Output: ఒకటి వంద రూపాయి
Input:  ₹1234           -> Output: ఒకటి వెయ్యి రెండు వంద ముప్పై నాలుగు రూపాయి
Input:  ₹50.50          -> Output: యాభై రూపాయి యాభై పైస
Input:  ₹0.50           -> Output: యాభై పైస
Input:  ₹1000000        -> Output: పది లక్షం రూపాయి
Input:  ₹1050000        -> Output: పది లక్షం యాభై వెయ్యి రూపాయి
Input:  ₹500            -> Output: ఐదు వంద రూపాయి

## 2. Decimal Numbers Test

In [6]:
# Test both Telugu and English digits for decimals
decimal_tests = [
    "౧౨.౩౪",      # Telugu digits
    "౧౨౩.౪౫౬",    # Telugu digits
    "౦.౫",         # Telugu digits
    "-౧౨.౩౪",     # Telugu digits
    "౧౨.౩౪౫౬",    # Telugu digits
    "12.34",        # English digits
    "123.456",      # English digits
    "0.5",          # English digits
    "-12.34",       # English digits
    "12.3456",      # English digits
]

print("=" * 60)
print("DECIMAL NUMBERS TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in decimal_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
DECIMAL NUMBERS TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౧౨.౩౪           -> Output: పన్నెండు point మూడు నాలుగు
Input:  ౧౨౩.౪౫౬         -> Output: ఒకటి వంద ఇరవై మూడు point నాలుగు ఐదు ఆరు
Input:  ౦.౫             -> Output: సున్నా point ఐదు
Input:  -౧౨.౩౪          -> Output: minus పన్నెండు point మూడు నాలుగు
Input:  ౧౨.౩౪౫౬         -> Output: పన్నెండు point మూడు నాలుగు ఐదు ఆరు
Input:  12.34           -> Output: పన్నెండు . ముప్పై నాలుగు
Input:  123.456         -> Output: ఒకటి వంద ఇరవై మూడు . నాలుగు వంద యాభై ఆరు
Input:  0.5             -> Output: సున్నా . ఐదు
Input:  -12.34          -> Output: minus పన్నెండు . ముప్పై నాలుగు
Input:  12.3456         -> Output: పన్నెండు . ముప్పై నాలుగు వంద యాభై ఆరు

## 3. Fractions Test

In [7]:
# Test both Telugu and English digits for fractions
fraction_tests = [
    "౩/౪",         # Telugu digits
    "౧/౨",         # Telugu digits
    "౧/౪",         # Telugu digits
    "౧౨ ౩/౪",      # Telugu digits
    "-౧/౨",        # Telugu digits
    "3/4",          # English digits
    "1/2",          # English digits
    "1/4",          # English digits
    "12 3/4",       # English digits
    "-1/2",         # English digits
]

print("=" * 60)
print("FRACTIONS TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in fraction_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
FRACTIONS TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౩/౪             -> Output: మూడు బిట్టు నాలుగు
Input:  ౧/౨             -> Output: ఒకటి బిట్టు రెండు
Input:  ౧/౪             -> Output: ఒకటి బిట్టు నాలుగు
Input:  ౧౨ ౩/౪          -> Output: పన్నెండు మరియు మూడు బిట్టు నాలుగు
Input:  -౧/౨            -> Output:  రుణాత్మక ఒకటి బిట్టు రెండు
Input:  3/4             -> Output: మూడు బిట్టు నాలుగు
Input:  1/2             -> Output: ఒకటి బిట్టు రెండు
Input:  1/4             -> Output: ఒకటి బిట్టు నాలుగు
Input:  12 3/4          -> Output: పన్నెండు మరియు మూడు బిట్టు నాలుగు
Input:  -1/2            -> Output:  రుణాత్మక ఒకటి బిట్టు రెండు

## 4. Dates Test

In [8]:
# Test both Telugu and English digits for dates
date_tests = [
    "౦౧-౦౪-౨౦౨౪",      # Telugu digits
    "౧౫-౦౬-౨౦౨౪",      # Telugu digits
    "౨౦౨౪-౦౧-౧౫",      # Telugu digits
    "౧౫/౦౬/౨౦౨౪",      # Telugu digits
    "౦౪-౦౧-౨౦౨౪",      # MM-DD format, Telugu digits
    "01-04-2024",        # English digits
    "15-06-2024",        # English digits
    "2024-01-15",        # English digits
    "15/06/2024",        # English digits
    "04-01-2024",        # MM-DD format, English digits
]

print("=" * 60)
print("DATES TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in date_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
DATES TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౦౧-౦౪-౨౦౨౪      -> Output: ఒకటి ఏప్రిల్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  ౧౫-౦౬-౨౦౨౪      -> Output: పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  ౨౦౨౪-౦౧-౧౫      -> Output: రెండు వెయ్యి ఇరవై నాలుగు మైనస్ సున్నా ఒకటి మైనస్ పదిహేను
Input:  ౧౫/౦౬/౨౦౨౪      -> Output: పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  ౦౪-౦౧-౨౦౨౪      -> Output: నాలుగు జనవరి రెండు వెయ్యి ఇరవై నాలుగు
Input:  01-04-2024      -> Output: ఒకటి ఏప్రిల్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  15-06-2024      -> Output: పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  2024-01-15      -> Output: రెండు వెయ్యి ఇరవై నాలుగు మైనస్ సున్నా ఒకటి మైనస్ పదిహేను
Input:  15/06/2024      -> Output: పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు
Input:  04-01-2024      -> Output: నాలుగు జనవరి రెండు వెయ్యి ఇరవై నాలుగు

## 5. Time Test

In [9]:
# Test both Telugu and English digits for time
time_tests = [
    "౧౨:౩౦",         # Telugu digits
    "౧:౪౦",          # Telugu digits
    "౧౨:౦౦",         # Telugu digits
    "౧౨:౩౦:౪౫",      # Telugu digits
    "౦౯:౧౫",         # Telugu digits
    "౨౩:౫౯",         # Telugu digits
    "12:30",          # English digits
    "1:40",           # English digits
    "12:00",          # English digits
    "12:30:45",       # English digits
    "09:15",          # English digits
    "23:59",          # English digits
    "9:15",           # English digits (single digit hour)
]

print("=" * 60)
print("TIME TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in time_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
TIME TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౧౨:౩౦           -> Output: పన్నెండు గంటకు ముప్పై నిమిషం
Input:  ౧:౪౦            -> Output: ఒకటి : నలభై
Input:  ౧౨:౦౦           -> Output: పన్నెండు గంటకు సున్నా నిమిషం
Input:  ౧౨:౩౦:౪౫        -> Output: పన్నెండు గంటకు ముప్పై నిమిషం : నలభై ఐదు
Input:  ౦౯:౧౫           -> Output: తొమ్మిది గంటకు పదిహేను నిమిషం
Input:  ౨౩:౫౯           -> Output: ఇరవై మూడు : యాభై తొమ్మిది
Input:  12:30           -> Output: పన్నెండు గంటకు ముప్పై నిమిషం
Input:  1:40            -> Output: ఒకటి : నలభై
Input:  12:00           -> Output: పన్నెండు గంటకు సున్నా నిమిషం
Input:  12:30:45        -> Output: పన్నెండు గంటకు ముప్పై నిమిషం : నలభై ఐదు
Input:  09:15           -> Output: తొమ్మిది గంటకు పదిహేను నిమిషం
Input:  23:59           -> Output: ఇరవై మూడు : యాభై తొమ్మిది
Input:  9:15            -> Output: తొమ్మిది : పదిహేను

## 6. Money Test

In [10]:
# Test both Telugu and English digits for money
money_tests = [
    "₹౧౦౦",         # Telugu digits
    "₹౧౨౩౪",        # Telugu digits
    "₹౫౦.౫౦",       # Telugu digits
    "₹౦.౫౦",        # Telugu digits
    "రూ ౧౦౦౦",      # Telugu digits
    "₹100",          # English digits
    "₹1234",         # English digits
    "₹50.50",        # English digits
    "₹0.50",         # English digits
    "₹1000",         # English digits
    "₹500",          # English digits
]

print("=" * 60)
print("MONEY TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in money_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
MONEY TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ₹౧౦౦            -> Output: ఒకటి వంద రూపాయి
Input:  ₹౧౨౩౪           -> Output: ఒకటి వెయ్యి రెండు వంద ముప్పై నాలుగు రూపాయి
Input:  ₹౫౦.౫౦          -> Output: యాభై రూపాయి యాభై పైస
Input:  ₹౦.౫౦           -> Output: యాభై పైస
Input:  రూ ౧౦౦౦         -> Output: రూ ఒకటి వెయ్యి
Input:  ₹100            -> Output: ఒకటి వంద రూపాయి
Input:  ₹1234           -> Output: ఒకటి వెయ్యి రెండు వంద ముప్పై నాలుగు రూపాయి
Input:  ₹50.50          -> Output: యాభై రూపాయి యాభై పైస
Input:  ₹0.50           -> Output: యాభై పైస
Input:  ₹1000           -> Output: ఒకటి వెయ్యి రూపాయి
Input:  ₹500            -> Output: ఐదు వంద రూపాయి

## 7. Measurements Test

In [11]:
# Test both Telugu and English digits for measurements
measure_tests = [
    "౧౨ kg",         # Telugu digits
    "౧౨౫ kg",        # Telugu digits
    "౧౦౦ m",         # Telugu digits
    "౫ km",          # Telugu digits
    "౧౨.౩౪ cm",      # Telugu digits
    "12 kg",          # English digits
    "125 kg",         # English digits
    "100 m",          # English digits
    "5 km",           # English digits
    "12.34 cm",       # English digits
]

print("=" * 60)
print("MEASUREMENTS TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in measure_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
MEASUREMENTS TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౧౨ kg           -> Output: పన్నెండు కిలోగ్రామ్
Input:  ౧౨౫ kg          -> Output: ఒకటి వంద ఇరవై ఐదు కిలోగ్రామ్
Input:  ౧౦౦ m           -> Output: ఒకటి వంద మీటర్
Input:  ౫ km            -> Output: ఐదు కిలోమీటర్
Input:  ౧౨.౩౪ cm        -> Output: పన్నెండు point మూడు నాలుగు సెంటీమీటర్
Input:  12 kg           -> Output: పన్నెండు కిలోగ్రామ్
Input:  125 kg          -> Output: ఒకటి వంద ఇరవై ఐదు కిలోగ్రామ్
Input:  100 m           -> Output: ఒకటి వంద మీటర్
Input:  5 km            -> Output: ఐదు కిలోమీటర్
Input:  12.34 cm        -> Output: పన్నెండు . ముప్పై నాలుగు సెంటీమీటర్

## 8. Ordinal Numbers Test

In [12]:
# Test both Telugu and English digits for ordinals
ordinal_tests = [
    "౧వ",           # Telugu digits
    "౨వ",           # Telugu digits
    "౧౦వ",          # Telugu digits
    "౨౧వ",          # Telugu digits
    "౧౦౦వ",         # Telugu digits
    "1వ",            # English digits with Telugu suffix
    "2వ",            # English digits with Telugu suffix
    "10వ",           # English digits with Telugu suffix
    "21వ",           # English digits with Telugu suffix
    "100వ",          # English digits with Telugu suffix
]

print("=" * 60)
print("ORDINAL NUMBERS TEST (TELUGU & ENGLISH DIGITS)")
print("=" * 60)
for test in ordinal_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
ORDINAL NUMBERS TEST (TELUGU & ENGLISH DIGITS)
============================================================
Input:  ౧వ              -> Output: ఒకటివ
Input:  ౨వ              -> Output: రెండువ
Input:  ౧౦వ             -> Output: పదివ
Input:  ౨౧వ             -> Output: ఇరవై ఒకటివ
Input:  ౧౦౦వ            -> Output: ఒకటి వందవ
Input:  1వ              -> Output: ఒకటివ
Input:  2వ              -> Output: రెండువ
Input:  10వ             -> Output: పదివ
Input:  21వ             -> Output: ఇరవై ఒకటివ
Input:  100వ            -> Output: ఒకటి వందవ

## 9. Telephone Numbers Test

In [4]:
telephone_tests = [
    "+౯౧౫౭౧౧౪౦౦౭",
    "+౯౧ ౯౨౧౦౫౧౫౬౦౬",
    "౧౩౭౪-౩౦౯౯౮౮",
    "9943206292",
]

print("=" * 60)
print("TELEPHONE NUMBERS TEST")
print("=" * 60)
for test in telephone_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:20} -> Output: {result}")

============================================================
TELEPHONE NUMBERS TEST
============================================================
Input:  +౯౧౫౭౧౧౪౦౦౭          -> Output: + తొమ్మిది శతకోటి పదిహేను కోటి డెబ్బై ఒకటి లక్షం పద్నాలుగు వెయ్యి ఏడు
Input:  +౯౧ ౯౨౧౦౫౧౫౬౦౬       -> Output: ప్లస్ తొమ్మిది ఒకటి తొమ్మిది రెండు ఒకటి సున్నా ఐదు ఒకటి ఐదు ఆరు సున్నా ఆరు
Input:  ౧౩౭౪-౩౦౯౯౮౮          -> Output: ఒకటి వెయ్యి మూడు వంద డెబ్బై నాలుగు మైనస్ మూడు లక్షం తొమ్మిది వెయ్యి తొమ్మిది వంద ఎనభై ఎనిమిది
Input:  9943206292           -> Output: తొమ్మిది శతకోటి తొంభై నాలుగు కోటి ముప్పై రెండు లక్షం ఆరు వెయ్యి రెండు వంద తొంభై రెండు

## 



























10. Whitelist/Abbreviations Test

In [14]:
whitelist_tests = [
    "డా.",
    "మిస్టర్",
    "మిసెస్",
    "మిస్",
]

print("=" * 60)
print("WHITELIST/ABBREVIATIONS TEST")
print("=" * 60)
for test in whitelist_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test:15} -> Output: {result}")

============================================================
WHITELIST/ABBREVIATIONS TEST
============================================================
Input:  డా.             -> Output: డా .
Input:  మిస్టర్         -> Output: మిస్టర్
Input:  మిసెస్          -> Output: మిసెస్
Input:  మిస్            -> Output: మిస్

## 11. Mixed Content Test

In [15]:
mixed_tests = [
    "ఈ రోజు ౧౫-౦౬-౨౦౨౪ న ౧౨:౩౦ గంటకు సభ ఉంది.",
    "₹౧౦౦౦ మరియు ₹౫౦౦ కలిపి ₹౧౫౦౦ అవుతుంది.",
    "౧౨౩ కిలోగ్రామ్ బరువు మరియు ౫౦ కిలోమీటర్ దూరం.",
    "౧వ స్థానం మరియు ౨వ స్థానం.",
]

print("=" * 60)
print("MIXED CONTENT TEST")
print("=" * 60)
for test in mixed_tests:
    result = normalizer_te.normalize(test)
    print(f"Input:  {test}")
    print(f"Output: {result}")
    print("-" * 60)

============================================================
MIXED CONTENT TEST
============================================================
Input:  ఈ రోజు ౧౫-౦౬-౨౦౨౪ న ౧౨:౩౦ గంటకు సభ ఉంది.
Output: ఈ రోజు పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు న పన్నెండు గంటకు ముప్పై నిమిషం గంటకు సభ ఉంది .
------------------------------------------------------------
Input:  ₹౧౦౦౦ మరియు ₹౫౦౦ కలిపి ₹౧౫౦౦ అవుతుంది.
Output: ఒకటి వెయ్యి రూపాయి మరియు ఐదు వంద రూపాయి కలిపి ఒకటి వెయ్యి ఐదు వంద రూపాయి అవుతుంది .
------------------------------------------------------------
Input:  ౧౨౩ కిలోగ్రామ్ బరువు మరియు ౫౦ కిలోమీటర్ దూరం.
Output: ఒకటి వంద ఇరవై మూడు కిలోగ్రామ్ బరువు మరియు యాభై కిలోమీటర్ దూరం .
------------------------------------------------------------
Input:  ౧వ స్థానం మరియు ౨వ స్థానం.
Output: ఒకటివ స్థానం మరియు రెండువ స్థానం .
------------------------------------------------------------

## 12. Batch Testing

In [16]:
# Test multiple inputs at once
batch_tests = [
    "123",
    "౧౨.౩౪",
    "౧౨:౩౦",
    "₹౧౦౦",
    "౧౫-౦౬-౨౦౨౪",
]

print("=" * 60)
print("BATCH TESTING")
print("=" * 60)
results = normalizer_te.normalize_list(batch_tests)
for input_text, output_text in zip(batch_tests, results):
    print(f"Input:  {input_text:15} -> Output: {output_text}")

============================================================
BATCH TESTING
============================================================

100%|██████████████████████████████████████████| 1/1 [00:00<00:00, 116.48it/s]
100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 74.34it/s]
100%|███████████████████████████████████████████| 1/1 [00:00<00:00, 63.88it/s]
100%|███████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]
100%|██████████████████████████████████████████| 1/1 [00:00<00:00, 265.46it/s]

Input:  123             -> Output: ఒకటి వంద ఇరవై మూడు
Input:  ౧౨.౩౪           -> Output: పన్నెండు point మూడు నాలుగు
Input:  ౧౨:౩౦           -> Output: పన్నెండు గంటకు ముప్పై నిమిషం
Input:  ₹౧౦౦            -> Output: ఒకటి వంద రూపాయి
Input:  ౧౫-౦౬-౨౦౨౪      -> Output: పదిహేను జూన్ రెండు వెయ్యి ఇరవై నాలుగు

## Summary

All test cases have been executed. Check the outputs above to verify that Telugu text normalization is working correctly for all categories.

### Usage Tips:
- Run each cell sequentially (Shift+Enter)
- Modify test cases in any cell to test your own inputs
- Use `verbose=True` in normalize() to see detailed processing information
- Set `cache_dir` to a directory path to speed up subsequent runs